@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    #8d3d51,
    #310000
  );
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.collapse.show {
  visibility: visible;
}

.CreateBook {
  min-height: 100vh;
  color: white;
}

.ShowBookDetails {
  min-height: 100vh;
  color: white;
}

.UpdateBookInfo {
  min-height: 100vh;
  color: white;
}

.ShowBookList {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

.ShowBookList-user {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

.LoginAccount, .SignUp {
  background-color: #21A179;
  background-repeat: no-repeat;
}

/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.list2 {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  height: 500px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.card-container3 {
  width: 500px;
  height: 600px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  color: white;
}

.details {
  height: 130px;
  padding: 10px;
}

.details h2 {
  font-size: 1em;
  font-weight: 400;
}

.details h3, p {
  font-weight: 300;
}

.details h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.container {
  border: 3px solid black;
  width: 100%;
  text-align: center;
}

.container input {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  
}
.container h2 {
  font-size: 40px;

}

/* Override the .btn-outline-warning class */

.btn-outline-warning {
  color: white; /* Set your desired text color */
  border-color: black; /* Set your desired border color */
  background-color: black;
  font-weight: bold;
  margin: 10px 0px 20px 0px;
}

.btn-outline-warning:hover {
  background-color: #21A179; /* Set your desired background color on hover */
  color: black; /* Set the text color on hover */
  border-color: black; /* Keep the border color consistent */
  font-weight: bold;
}

.btn-accept .btn-reject{
  margin: 60px;
  padding: 50px 20px;
  color: white;
  font-weight: bolder;
  background-color: black;
}

.btn-accept:hover .btn-reject:hover{
  background-color: #21A179; /* Set your desired background color on hover */
  color: black; /* Set the text color on hover */
  border-color: black; /* Keep the border color consistent */
  font-weight: bold;
}