.container table {
    border: 2px solid black;
    margin: auto;
    width: 50%;
}

.container h2 {
    font-size: 40px;
}

.container {
    margin: auto;
    text-align: center;

}

.SignUpContent input {
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
  }

.LoginContent input {
    width: 55%;
    margin: auto;
    margin-bottom: 15px;
}